body{ 
    background-color: rgb(220,220,220);  /*#1F1710;*/


    font-family: Helvetica; 
} 

.bio_banner{ 
    display: inline-block;
    background-color: rgba(245,245,245,0.8);
    font-size: 20px; 
    border-radius: 25px;
    width: 500px;
    height: 540px;
    top: 15%; 

    
} 
img{
    display: inline-block;
}
.me{ 
    /* display: inline-block; */
    border-radius: 25px; 
    height: 320px; 
    width: 430px; 

  
}
.widgets{ 

    position: relative;
    left: 5000px;
}

h1{ 
    font-size: 45px;
    color: rgb(0,0,0);
}

h2 {
    font-family: Impact; 
} 

