body{ 
    background-color: rgb(220,220,220);  /*#1F1710;*/


    font-family: Helvetica; 
} 

.bio_banner{ 
    background-color: rgba(245,245,245)
    font-size: 20px; 
    border-radius: 25px;
    width: 500px;
    height: 600px;
    top: 15%; 
    
    
} 
img{ 
    border-radius: 25px; 
    height: 320px; 
    width: 430px; 
    position:absolute; 
    top: 15%; 
    left: 630px;
}

h1{ 
    font-size: 45px;
    color: #916C47; 
}

h2 {
    font-family: Impact; 
} 

