* {
    box-sizing: border-box;
    moz-box-sizing: border-box;
}

body{ 
    background-color: rgb(220,220,220);  /*#1F1710;*/
    font-family: Helvetica; 
} 
.bio_banner{ 
    background-color: rgba(245,245,245,0.8);
    font-size: 20px;
    margin-top: 20%;
    border-radius: 25px;
    width: 50%;
    float: left;
    height: 540px;
} 
.bio_banner h2 {
    text-align: center;
}
.pictureSide{ 
    margin-top: 20%;
    width: 50%;
    float: left;
}

.me{ 
    border-radius: 25px; 
    height: 320px; 
    width: 430px; 
}
.widgets{
    text-align: center; 
    
}
h1{ 
    font-size: 45px;
    color: rgb(0,0,0);
}
h2 {
    font-family: Impact; 
} 




